{
  "modules": [{
    "title": "s3",
    "items": [
      "object-storage"
    ]
  }],
  "default_module": "object-storage",
  "languages": [
    "en",
    "zh-CN"
  ],
  "routers": [],
  "theme": "default"
}
